#client_header,
#client_body:not(.onboarding):before,
#end_div,
#footer_msgs,
.channel_header,
.day_container {
  background-color: rgba(41,41,41,1) !important;
}

ts-message:hover,
#msg_input,
.btn_unstyle,
.column_border,
.day_divider_label {
  background-color: rgba(68, 68, 68, 1) !important;
}

/* White Text */
#channel_title,
#channel_members_toggle_count_count,
#msg_input,
#pinned_item_count_count,
.day_divider,
.message_body,
.message_content_header,
.message_content .message_content_header .message_content_header_left .message_sender {
  color: rgba(255, 255, 255, 1) !important;
}

.day_msgs {
  border-top-color: rgba(68,68,68,1) !important;
}

#client_body:not(.onboarding):before {
  border-bottom-color: rgba(68,68,68,1) !important;
}
