ts-thread,
ts-thread .thread-messages,
#client_header,
#client_body:not(.onboarding):before,
#downloads_tab,
#downloads_tab.supports_open_file #downloads_shift_hint,
#downloads_tab_header,
#end_div,
#footer_msgs,
#messages_container.has_top_messages_banner:before,
#msgs_scroller_div,
#threads_msgs_scroller_div,
.channel_header,
.channel_page_section,
.contents_container,
.day_container,
.flex_content_scroller,
.search_message_result,
.search_result_with_extract {
  background-color: rgba(41,41,41,1) !important;
}

code,
ts-message:hover,
#flex_contents .subheading,
#footer_archives,
#msgs_div .unread_divider .divider_label,
#msg_input,
#search_filters a,
.bot_label,
.btn_unstyle,
.column_border,
.day_divider_label,
.divider_label,
.email_container,
.file_container,
.heading {
  background-color: rgba(68, 68, 68, 1) !important;
}

/* White Text */
ts-icon.greigh,
#channel_title,
#channel_members_toggle_count_count,
#fs_modal h1, #fs_modal h2, #fs_modal h3, #fs_modal h4, #fs_modal h5,
#msg_input,
#pinned_item_count_count,
.bot_label,
.channel_browser_creator_name,
.channel_browser_member_count_container.greigh,
.channel_browser_row,
.channel_browser_row_header,
.comment,
.day_divider,
.divider_label,
.file_container pre,
.heading_text,
.message_body,
.message_content_header,
.message_content .message_content_header .message_content_header_left .message_sender,
.pinned_item,
.section_title {
  color: rgba(255, 255, 255, 1) !important;
}

.day_msgs,
.divider_line {
  border-top-color: rgba(68,68,68,1) !important;
}

#client_body:not(.onboarding):before {
  border-bottom-color: rgba(68,68,68,1) !important;
}

code,
.email_header_meta,
.email_header_title,
.file_header_meta,
.file_header_title {
  color: rgba(211, 155, 70, 1) !important;
}

code {
  border-color: rgba(68,68,68,1) !important;
}

a,
a:link,
a:visited {
  color: rgba(114, 202, 255, 1) !important;
}

.match,
.mention {
  color: rgba(0,0,0,1) !important;
  background-color: rgba(211,155,70,1) !important;
}

.search_result_with_extract {
  box-shadow: 0 1px 10px rgba(211,155,70,1) !important;
  border-color: rgba(211,155,70,1) !important;
}

/* Transparent top border */
.channel_page_section {
  border-top-color: rgba(0,0,0,0) !important;
}

