#client_header,
#client_body:not(.onboarding):before,
#end_div,
#footer_msgs,
.channel_header,
.day_container {
  background-color: rgba(41,41,41,1) !important;
}

code,
ts-message:hover,
#msg_input,
.bot_label,
.btn_unstyle,
.column_border,
.day_divider_label,
.email_container,
.file_container {
  background-color: rgba(68, 68, 68, 1) !important;
}

/* White Text */
#channel_title,
#channel_members_toggle_count_count,
#msg_input,
#pinned_item_count_count,
.bot_label,
.day_divider,
.message_body,
.message_content_header,
.message_content .message_content_header .message_content_header_left .message_sender {
  color: rgba(255, 255, 255, 1) !important;
}

.day_msgs {
  border-top-color: rgba(68,68,68,1) !important;
}

#client_body:not(.onboarding):before {
  border-bottom-color: rgba(68,68,68,1) !important;
}

code,
.email_header_meta,
.email_header_title,
.file_header_meta,
.file_header_title {
  color: rgba(211, 155, 70, 1) !important;
}

code {
  border-color: rgba(68,68,68,1) !important;
}

a,
a:link,
a:visited {
  color: rgba(114, 202, 255, 1) !important;
}

.mention {
  color: rgba(0,0,0,1) !important;
  background-color: rgba(211,155,70,1) !important;
}
