.day_container,
#end_div,
#footer_msgs {
  background-color: rgba(41,41,41,1) !important;
}

.btn_unstyle {
  background-color: rgba(68, 68, 68, 1) !important;
}

.message_body,
.message_content_header,
.message_sender {
  color: rgba(255, 255, 255, 1) !important;
}

#msg_input {
  background-color: rgba(255, 255, 255, 1) !important;
}

ts-message:hover {
  background-color: rgba(68,68,68,1) !important;
}
